* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  width: 80%;
  max-width: 90%;
  /* animation: navbar 700ms linear 500ms; */
  /* animation-fill-mode: forwards; */
  /* opacity: 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  z-index: 11;
  position: fixed;
  top: 0;
  padding: 20px;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 16px 0 rgb(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 0.6rem;
  background: var(--constant-accents);
  border-radius: 0.5rem;
  height: 60px;
}
::-webkit-scrollbar-thumb {
  background: var(--main-colour);
  border-radius: 0.5rem;
}

.s4-sushi {
  background-color: var(--constant-accents);
  color: white;
  width: 30px;
  border-radius: 10px;
}

.main-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main-menu li {
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 300ms ease;
  gap: 5px;
  position: relative;
}

.bi-chevron-compact-down {
  transition: all 300ms ease;
}

.main-menu li:hover .bi-chevron-compact-down {
  transform: rotate(180deg);
}

.main-menu li .dropdown-menu {
  position: absolute;
  background-color: #f9f9f9;
  width: 300px;
  min-width: 140px;
  top: 45px;
  left: 0;
  /* border-bottom: 1px solid #fc0; */
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0 rgb(0, 0, 0, 0.2);
  /* opacity: 0;
  visibility: hidden; */
  display: none;
}

.main-menu li:hover .dropdown-menu {
  display: block;
}

.slide-up {
  animation-name: dropdown;
  animation-duration: 500ms;
  animation-timing-function: ease;
}

@keyframes dropdown {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.main-menu li a:hover {
  color: var(--constant-accents);
}

.main-menu li a {
  text-decoration: none;
  color: black;
  font-family: var(--common-font-family);
}

.nav-icon {
  gap: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* justify-content: space-between; */
}

/* .nav-icon :hover {
  cursor: pointer;
} */

.contact {
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 6rem;
  height: 2.5rem;
  /* border: 1px solid red; */
  background-color: var(--constant-accents);
  border-radius: 1.5rem;
  padding: 0.5rem;
  animation: contact-bar 500ms ease;
}

/* @keyframes contact-bar {
  0% {
    transform: translateY(4%);
  }
  100% {
    transform: translateY(4%);
  }
} */

.contact:hover {
  transform: translateY(-6px);
  transition: all 0.1ms ease-in-out;
}

main {
  width: 1500px;
  max-width: 90%;
  margin: auto;
  /* height: 100vh;
  overflow-y: 40px; */
  /* border: 1px solid red; */
  /* height: 100vh; */
  /* display: flex; */
  flex-direction: row;
  /* align-items: center; */
}

.body-content {
  width: 90%;
  /* height: 45%; */
  /* border: 1px solid red; */
  margin: 60px auto;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.sushi-content {
  width: 450px;
  height: 500px;
  /* border: 1px solid blue; */
}

.sushi-image {
  width: 600px;
  /* height: 500px; */
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sushi-image img {
  /* z-index: 1; */
}

.sushi-image-content {
  /* border: 1px solid red; */
}

.bubble {
  width: 150px;
  /* padding: 5 rem 5 rem 5rem 1rem; */
  z-index: 2;
}

.bubble p {
  color: red;
  background-color: beige;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 20px;
  position: relative;
  top: 1rem;
  left: 0.4rem;
  width: 150px;
  height: 40px;
  text-align: center;
  margin-bottom: 1rem;
}

.price-tag-container {
  display: flex;
  position: relative;
  top: -20px;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  /* border: 1px solid red; */

  /* z-index: 1; */
}

.price-tag-image img {
  width: 60px;
  margin: auto;
  padding: 7px;
}

.price-tag {
  display: flex;
  gap: 10px;
  width: 200px;
  height: 90px;
  /* border: 1px solid red; */
  margin-left: 40px;
  border-radius: 15px;
  background-color: #f9f9f9;
  z-index: -1;
  /* color: gold; */
}

.price-tag i {
  color: gold;
}

.price-tag-info {
  /* border: 1px solid blue; */
  width: 120px;
  /* margin-left: 20px; */
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
  /* display: flex;
  align-items: center; */
}

h1 {
  font-size: var(--h1-font-size);
  font-family: var(--common-font-family);
  margin-top: 40px;
}

p {
  font-family: var(--common-font-family);
  color: rgb(128, 128, 128);
}

.pcf {
  color: red;
  letter-spacing: 4px;
}

.cf {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  /* border: 1px solid red; */
}

.sd {
  margin-top: 40px;
}

.pc {
  font-weight: 30px;
  font-family: var(--common-font-family);
  font-size: 18px;
  color: black;
}

.box {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  display: flex;
  /* height: 200px; */
  /* border: 1px solid red; */
}

.dish-box {
  margin: auto;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  display: flex;
  width: 850px;
  /* border: 1px soild red; */
}

.dish-one {
  border-radius: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  align-items: center;
  height: 300px;
  width: 260px;
  padding-bottom: 10px;
  /* position: relative; */
  align-self: flex-start;
  box-shadow: 0px 8px 16px 0 rgb(0, 0, 0, 0.2);
}

.bag-icon {
  /* display: flex; */
  /* background-color: green; */
  flex-direction: row;
  /* margin: 20px 40px; */
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  align-self: flex-end;
}

.bag-icon i {
  padding: 10px;
  /* font-size: 30px; */
  width: 40px;
  height: 60px;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* float: right; */
  position: absolute;
  right: 1px;
  color: white;
  background-color: var(--constant-accents);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.icon-holder {
  width: 70px;
  height: 40px;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.description {
  /* border: 1px solid red; */
  align-self: flex-start;
  justify-content: center;
  /* position: absolute; */
}

.price-rating {
  display: flex;
  flex-direction: row;
  gap: 9rem;
  justify-content: space-between;
}

.left-right-arrows {
  display: flex;
  gap: 30px;
}

.left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--constant-accents);
  margin: auto;
  /* border: 1px solid blue; */
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0px 8px 16px 0 rgb(0, 0, 0, 0.2);
}

.left-arrow i {
  font-weight: 80px;
  font-size: 20px;
}

.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--constant-accents);
  color: white;
  margin: auto;
  /* border: 1px solid blue; */
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0px 8px 16px 0 rgb(0, 0, 0, 0.2);
}

.right-arrow i {
  font-weight: 80px;
  font-size: 20px;
}

.chef-image {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: relative; */
  /* width: 200px; */
  height: 400px;
  /* background-color: var(--constant-accents); */
  /* z-index: -2; */
}

.chef-image img {
  width: 380px;
  height: 350px;
  z-index: 10;
  position: absolute;
  bottom: 0;
}

.chef-image-background {
  /* border: 1px solid orange; */
  background-color: var(--constant-accents);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  /* position: absolute; */
  /* position: relative; */
  height: 250px;
  width: 350px;
  z-index: 10;
  /* overflow-y: auto; */
}

.our-best-chef {
  /* border: 1px solid green; */
  background-color: rgb(252, 252, 252);
  position: relative;
  z-index: 10;
  bottom: 18%;
  left: 100px;
  height: 30px;
  width: 150px;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

/* .chef-image-background-border {
  border: 1px solid red;
  background-color: var(--constant-accents);
  border-radius: 30px;
  width: 200px;
  height: 300px;
  z-index: 10;
} */

.feedback {
  margin: auto;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 400px; */
  width: 400px;
}

.our-story {
  gap: 30px;
  flex-direction: column;
}

.testimonials p {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}

.note {
  /* border: 1px solid red; */
}

.images-feedback {
  margin: auto;
  /* border: 1px solid blue; */
  display: flex;
  gap: 20px;
  height: 100px;
}

.index-photos {
  margin: auto;
  /* border: 1px solid orange; */
  /* width: 100px; */
  /* height: 70px; */
  /* position: relative; */
}

.index-photos img {
  width: 40px;
  border-radius: 50px;
  position: relative;
}

.customers-feedback {
  /* border: 1px solid green; */
  margin: auto;
  display: flex;
  flex-direction: column;
}

.quote {
  width: 30px;
  height: 30px;
  background-color: white;
  color: var(--constant-accents);
}

.catering-grid {
  /* border: 1px solid green; */
  display: grid;
  text-align: center;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  /* height: 150px; */
  /* width: 400px; */
  gap: 30px;
}

.hot-bowl {
  /* border: 1px solid blue; */
  border-radius: 20px;
  background-color: white;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  box-shadow: 0px 8px 16px 0 rgb(0, 0, 0, 0.2);
}

.grid-icon {
  width: 180px;
  height: 80px;
  /* border: 1px solid purple; */
}

.grid-icon i {
  font-size: 50px;
  color: var(--constant-accents);
}

.grid-icon h2 {
  color: var(--constant-accents);
  font-size: 20px;
  margin: auto;
}

.write-up {
  color: var(--constant-accents);
  /* border: 1px solid purple; */
}

.write-up p {
  color: var(--constant-accents);
}

.footer {
  display: flex;
}

.footer-sushi {
  /* border: 1px solid red; */
  height: 70px;
  gap: 40px;
}

.savor {
  margin: auto;
}

.useful-links h2 {
  display: flex;
}

.customers-feedback i {
  color: gold;
}

.red-dollar span {
  color: red;
}

.dish-frame {
  width: 150px;
  height: 150px;
  border-radius: 50px;
}

.box-one {
  padding: 20px;
  border-radius: 20px;
  background-color: #f9f9f9;
  display: flex;
  padding: 20px;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* border: 1px solid red; */
  width: 200px;
  /* height: 180px; */
  box-shadow: 0px 8px 16px 0 rgb(0, 0, 0, 0.2);
}

.box-frame {
  display: flex;
  justify-content: center;
  background-color: rgb(193, 241, 198);
  padding: 10px;
  margin-top: 10px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  /* border: 1px solid red; */
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.image-box {
  display: flex;
  justify-content: center;
  background-color: rgb(141, 226, 198);
  padding: 10px;
  margin-top: 10px;
  margin: auto;
  /* border: 1px solid red; */
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

/* .dish-div {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  padding-bottom: 10px;
} */

.main-dish {
  /* border: 1px solid red; */
  font-weight: 20px;
  font-family: var(--common-font-family);
  font-size: 18px;
  display: flex;
  gap: 10px;
  flex-direction: column;

  /* margin-bottom: 40px; */
}

.holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-spacing: none;
  gap: 10px;
  /* margin-bottom: 20px; */
}

.kiss {
  color: var(--constant-accents);
}

.flex-s {
  display: flex;
  text-align: center;
}

@media (max-width: 300px) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100px;
  }

  .main-menu {
    display: none;
  }

  .sushi-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
